<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Translator</title>
</head>
<body>
    <h1>Welcome to the Language Translator</h1>
    <ul>
        <li><a href="/text_translate">Text Translation</a></li>
        <li><a href="/file_translate">File Translation</a></li>
        <li><a href="/img_detect">Image Language Detection</a></li>
        <li><a href="/multi">multi lang trans</a></li>
        <li><a href="/summarize">Summarize and Translate</a></li>
    </ul>
</body>
</html>
